<!--
  Generated template for the DealExposantPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Trobada</ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear (tap)="logout()">
        <ion-icon ios="ios-power" md="md-power" name="logout"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <h1 ion-text color="secondary">Prix Total : {{this.transaction.sommeTotale}}</h1>

  <ion-list>
    <div *ngIf="prixArticles[0]">
      <div *ngFor="let noms of nomsArticles, let i = index">
        <ion-item-sliding #item>
          <ion-item>
            <h6>{{quantity[i]}} X {{nomsArticles[i]}}</h6>
            <p>{{prixArticles[i]*quantity[i]}}€</p>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button clear (tap)="removeQuantity(i)">
              <ion-icon name="remove-circle"></ion-icon>
            </button>
            <button ion-button clear (tap)="addQuantity(i)">
              <ion-icon name="add-circle"></ion-icon>
            </button>
          </ion-item-options>

          <ion-item-options side="right">
            <button ion-button color="danger" (tap)="remove(noms, i)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </div>
  </ion-list>
  <ion-grid id="boutons">
    <ion-row>
      <div id="scanArticle">
        <button ion-button round (tap)="goScan()">Scan Articles</button>
      </div>

      <div id="scanClient" *ngIf="prixArticles[0]">
        <button ion-button round (tap)="goScanClient()">Scan client</button>
      </div>
    </ion-row>
    <ion-row justify-content-center>
      <div id="clearAll" *ngIf="prixArticles[0]">
        <button ion-button round color="danger" (tap)="testJSON()">TESTER</button>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>