<ion-header>
    <ion-navbar>
      <ion-title>Mes ventes</ion-title>
      <ion-buttons end>
        <button ion-button icon-only clear (tap)="logout()">
          <ion-icon ios="ios-power" md="md-power" name="logout" ></ion-icon>
      </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
  
    <ion-card *ngFor="let transaction of listeTransac">
      <ion-card-title text-center>
        {{transaction.created_at | date: 'dd/MM/yyyy H:mm' }}
      </ion-card-title>
      <ion-card-content>
        <ion-icon name="map">   {{ transaction.events_name }}</ion-icon><br>
        <ion-icon name="contact">   {{ transaction.name_fest }}</ion-icon><br>
        <ion-icon name="cash">   {{ transaction.amount }} €</ion-icon><br>
        <ion-icon name="basket"></ion-icon><br>
        <ion-list no-lines>
          <ion-item *ngFor="let entry of transaction.listeTransactions">
              {{ entry.qty }}x {{ entry.product_name }} ({{ entry.price }} €)
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
