page-transaction-exposant {
    .dataCardTransacLeft{
        font-size: 1.4rem !important;
        color: #fffdfd;
        text-align: left;
    }

    .dataCardTransacCenter{
        font-size: 1.4rem !important;
        color: #fffdfd;
        text-align: center;
    }

    .dataCardTransacCenterBlack{
        font-size: 1.4rem !important;
        color: #222;
        text-align: center;
    }
}
