page-home {
    .bigTitle > h1{
        font-size: 4rem !important;
    }

    .titleCard{
        color: #fffdfd;
        text-align: center;
    }

    .titleCardBlack{
        color: black;
        text-align: center;
    }

    .itemCard{
        background-color: transparent;
    }
}
