page-validation-festivalier {  
    .inputKey {
        border-radius: 5px !important;
        font-size: 0.9em;
        margin: 10px;
        border: 1px solid #000000;
        box-shadow: none !important;
        text-align: center;
    }

    .resultatRequete{
        font-size: 1.8rem;
    }
}
