page-qrcode {
    .fixed-size-square {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: table;

    }

    .fixed-size-square span {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    .qrCode{
        margin: 20px 10px;
        text-align: center;
        vertical-align: middle;
    }
}
